.input-section {
  clear: both;
}

.input-group {
  padding-inline-start: 5px;
}

.input-wrapper {
  list-style-type: none;
  margin: 5px;
  float: left;
}

.input-wide {
  width: 100px;
}

.input-narrow {
  width: 50px;
}

.slider {
  width: 400px;
}

.App {
  margin: 20px;
}

.error-message {
  color: red;
}