.data-box {
  clear: both;
}

.data-input {
  list-style-type: none;
  float: left;
}

.inputs {
  width: 100px;
}

.labelInputs {
  width: 45px;
}

.slider {
  width: 500px;
}

.App {
  margin: 20px;
}

.error-message {
  color: red;
}