.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}

.control-panel {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 100vh;
  overflow-y: auto;
  background-color: lightgrey;
  padding: 5px;
}

h1 {
  font-size: 150%;
  margin: 10px 0px;
}

h2.toggle {
  font-size: 120%;
  background-color: lightslategray;
  margin: 10px 0px;
}

h2.toggle:before {
  display: inline-block;
  content: "\2023";
  margin: 0 0.5em;
}

h2.toggle.open:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

p {
  margin: 10px 0px;
}

.display-panel {
  overflow: auto;
  max-height: 100vh;
  width: auto;
  display: grid;
  align-items: center;
  justify-items: center;
}


.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.label-grid {
  display: grid;
  grid-auto-flow: column;
}

.label-grid.angle {
  grid-template-rows: repeat(10, 1fr);
}

.label-grid.side {
  grid-template-rows: repeat(5, 1fr);
}

.label-grid > div {
  text-align: center;
  padding: 0 0.5em;
}

.grid-input {
  width: 100%;
}

.input-wrapper {
  margin: 5px;
}

.input-wide {
  width: 60px;
}

.input-narrow {
  width: 40px;
}

.slider {
  width: 150px;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

.grid-main {
  background-color: lightblue;
}

span.grid-sub {
  padding-left: 0.5em;
}